@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headText{
  font-family: 'Linden Hill', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}
.headTitle{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply text-7xl mb-8;

}
/* ........................features........................... */
.containerDiv{
  @apply flex flex-col justify-center items-center bg-white rounded-full shadow-lg w-72 h-64 mx-auto;
  border-radius:50%;
}
.featureIcon{
  color: #BBE4DC;
  @apply mr-2;
}
.title{
  @apply text-lg font-semibold mb-2
}
.des{
  @apply text-gray-600;
  font-size:13px;
}
/* ...................................about.................... */
.aboutIcon{
  color: #F7813F;
}
.group{
  background-image: url('/serious.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply max-w-5xl mx-auto grid md:grid-cols-2
}
.aboutText{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply border-2 border-gray-500 rounded
}