@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headText {
  font-family: "Linden Hill", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}
.headTitle {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply mb-8 text-7xl leading-[1.7];
}
/* ........................features........................... */
.containerDiv {
  @apply flex flex-col items-center justify-center h-64 mx-auto bg-white rounded-full shadow-lg w-72;
  border-radius: 50%;
}
.featureIcon {
  color: #bbe4dc;
  @apply mr-2;
}
.title {
  @apply mb-2 text-lg font-semibold;
}
.des {
  @apply text-gray-600;
  font-size: 13px;
}
/* ...................................about.................... */
.aboutIcon {
  color: #f7813f;
}
.group {
  background-image: url("/serious.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply grid max-w-5xl mx-auto md:grid-cols-2;
}
.aboutText {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply border-2 border-gray-500 rounded;
}
