@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headText{
  font-family: 'Linden Hill', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}
.headTitle{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  @apply text-7xl

}
/* ........................features........................... */
.containerDiv{
  @apply flex flex-col justify-center items-center bg-white rounded-full shadow-lg w-72 h-64 mx-auto;
  border-radius:50%;
}
.title{
  @apply text-lg font-semibold mb-2
}
.des{
  @apply text-gray-600;
  font-size:13px;
}